{% extends 'hof/base.html' %}

{% block content %}
    <section class="students">
        <div class="container">
            <ul class="list-group students__count">
                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                    Total number of students
                    <span class="badge badge-primary badge-pill">{{ student_count }}</span>
                </li>
            </ul>
            {% for year in years %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    {{ year }}
                    <span class="badge badge-primary badge-pill">
                        {% for key, value in students_by_year.items %}
                            {% if key == year %}
                                {{ value.count }}
                            {% endif %}
                        {% endfor %}
                    </span>
                </li>

                {% for key, value in students_by_year.items %}
                    {% if key == year %}
                        {% for student in value.students %}
                            <a href="{% url 'hof:student' student.id%}" class="list-group-item">{{ student.nickname }}</a>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </section>
{% endblock %}