{% extends 'hof/base.html' %}

{% block content %}
    <section class="my-4">
        <div class="jumbotron jumbotron-fluid py-3">
            <div class="container">
                <h1 class="display-4">Student scores</h1>
                <p class="lead">Below table represents hall of fame students with scores.</p>
            </div>
        </div>

        {% if query %}
        <div class="container table-responsive">
            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nickname</th>
                  <th scope="col">Total blood cells</th>
                </tr>
              </thead>
              <tbody>
                {% for student, blood_cells in query %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                    <td>
                    <a href="{% url 'hof:student' student.id%}" class="no_decor">
                        {{student.nickname}}
                    </a>
                    </td>
                    <td>{{blood_cells}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        {% else %}
        <div class="container">
            <h3>Nothing to display</h3>
        </div>
        {% endif %}
    </section>
{% endblock %}