{% extends 'hof/base.html' %}

{% block content %}
    <section class="my-4">
        <div class="jumbotron jumbotron-fluid py-3">
            <div class="container">
                <h1 class="display-4">Students scores</h1>
                <p class="lead">Below table represents scores of all students.</p>
            </div>
        </div>
        <div class="container">
            <ul class="list-group">
                <p>ELO</p>
            </ul>
        </div>
    </section>
{% endblock %}