<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="/">
        <img src="/static/hof/images/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Hall of Fame
    </a>
    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'hof:groups' %}">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'hof:students' %}">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'hof:scores' %}">Scores</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">

        <li class="nav-item">
        {% if not user.is_authenticated %}
            <a class="btn btn-outline-dark" href="/admin">
                Sign in
            </a>
        {% else %}
            <span class="navbar-text">Hello, {{ user.get_username }}!</span>
            <a class="btn btn-outline-dark" href="/admin">
                Manage
            </a>
            <a class="btn btn-outline-dark" href="/admin/logout">
                Logout
            </a>
        {% endif %}
        </li>
    </ul>
    </div>
</nav>