{% extends 'hof/base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron my-4">
        <h1 class="display-4">Welcome to Hall of Fame!</h1>
        <p class="lead">It's a simple scoreboard created to help lecturers organize their students 'test' results!</p>
        <hr class="my-4">
        <p> Suspendisse ultricies sollicitudin est, vitae volutpat nibh pharetra at. Fusce rhoncus magna non convallis euismod. Sed id lectus ut libero commodo commodo. Aliquam rhoncus, ligula vitae ultricies semper, urna ante volutpat lacus, non bibendum sem purus et metus. Quisque sit amet mauris sed orci tincidunt tincidunt et nec augue. Curabitur ullamcorper arcu varius finibus rutrum. Proin egestas viverra malesuada. Nulla fermentum enim eget ultrices consequat.</p>
        <a class="btn btn-primary btn-md" target="_blank" href="https://github.com/beneckimateusz/hall-of-fame" role="button">Visit the repository</a>
        </p>
    </div>
</div>
{% endblock content %}