:root {
    --main-bg-color: #ffffff;
    --footer-bg-color: #f8f9fa;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;

    background-color: var(--footer-bg-color);
    padding: 10px;
    text-align: center;
}

.card-deck .card {
    flex-basis: 25%;
}

.card,
.list-group-item {
    color: inherit;
    text-decoration: none;
}

.card:hover,
.list-group-item:hover {
    text-decoration: none;
}
